.body {
    @extend body;

    background-attachment: fixed;
    background-image: linear-gradient(rgba($white, 0.5), rgba($white, 0.5)), url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
