.carousel-inner {
    background: $gray-500;
    box-shadow: $box-shadow;
    height: 15rem;

    @include media-breakpoint-up(sm) {
        height: 20rem;
    }

    @include media-breakpoint-up(md) {
        height: 25rem;
    }

    @include media-breakpoint-up(lg) {
        height: 30rem;
    }
}

.carousel-item {
    align-items: center;
    height: 100%;
    justify-content: center;

    &.active, &-next, &-prev {
        display: flex;
    }

    & img {
        max-height: 100%;
        max-width: 100%;
    }
}
