.navbar {
    background: $primary;
}

.navbar-nav {
    width: 100%;

    .nav-link {
        padding: calc($spacer/2);

        @include media-breakpoint-up(md) {
            font-size: $font-size-base*1.2;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .active {
        > .nav-link {
            font-weight: $font-weight-bold;
        }
    }
}

.navbar-expand-lg {
    .navbar-nav {
        justify-content: space-around;
    }
}