/*
 * Bootstrap
 */
$navbar-light-color:                $black;
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         $black;

/*
 * Perso
 */
$jumbotron-title-color:         $gray-900;
